<h1>Listing gradelevels</h1>

<table>
  <tr>
    <th>Gldate</th>
    <th>Glincident date</th>
    <th>Glreason</th>
    <th>Glteacher</th>
    <th>Student</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gradelevels.each do |gradelevel| %>
  <tr>
    <td><%= gradelevel.gldate %></td>
    <td><%= gradelevel.glincident_date %></td>
    <td><%= gradelevel.glreason %></td>
    <td><%= gradelevel.glteacher %></td>
    <td><%= gradelevel.student %></td>
    <td><%= link_to 'Show', gradelevel %></td>
    <td><%= link_to 'Edit', edit_gradelevel_path(gradelevel) %></td>
    <td><%= link_to 'Destroy', gradelevel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gradelevel', new_gradelevel_path %>
