<%= simple_form_for([@student, @detention]) do |f| %>
  <% if @detention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detention.errors.count, "error") %> prohibited this detention from being saved:</h2>

      <ul>
      <% @detention.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <h4><%= f.label :detention_date %>
    <%= f.datepicker :detention_date, :dateFormat => 'yy-mm-dd', :class => "input-small" %></h4>
  </div>
  <div class="form-inline">
    <h4><%= f.label :incident_date %>
    <%= f.datepicker :incident_date, :dateFormat => 'yy-mm-dd', :class => "input-small" %></h4>
  </div>
  <div class="form-inline">
    <h4><%= f.label :reason %><br />
        <%= f.text_area :reason, :rows => 5 %></h4>
  </div>
  <div class="form-inline">
    <br />
    <h4><%= f.select :administrator, ['Mandy Gutierrez', 'Rachel Ham', 'Melody Vizi', 'Christopher Carnes', 'Sandra Castillo'], :prompt => 'Select Administrator' %></h4>
  </div>

 <h4>Previous Actions</h4>
<%= f.select(:previous_actions,  [['Parent Conference', 'Parent Conference'],
                                  ['Grade Level Detention', 'Grade Level Detention'],
                                  ['Called Parent', 'Called Parent'],
                                  ['Moved Seats', 'Moved Seats'],
                                  ['Student Conference', 'Student Conference']
                                 ],{ :prompt => "Please select all that apply"},
                                   { :multiple => true, :size => 6 }
                                 ) %>


<h4>Optional Notes</h4>
 <div class="form-inline">
    <h4><%= f.text_area :notes, :rows => 3 %></h4>
  </div>
<br />
  <div class="actions">
    <h4><%= f.submit :target => "_blank"%></h4>
  </div>
<% end %>
